<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/form-style.css">
    <title>Create Recipe</title>
</head>
<body>
    <em><a href="/" class="chyron">&laquo; homepage</a></em>

    <div class="container">
        <form action="/recipes" method="POST">
            <%- include('_form_fields') %>
        </form>
    </div>

    
</body>
</html>